body {
  background: white;
  margin: 0;
  padding: 0; }

.login-bg {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://inling.oss-cn-beijing.aliyuncs.com/golden/img/login/2bc0f1c96187e6053da0ad1c3e9bcfd8-209402.jpg); }
  .login-bg .login-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .login-bg .login-block {
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 180px;
    width: 500px;
    height: 600px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px 0 #aaa;
    border-radius: 10px; }
    .login-bg .login-block .login-title {
      font-size: 30px;
      color: #348BCC;
      margin-left: 30px; }
    .login-bg .login-block .login-block-1, .login-bg .login-block .login-block-2, .login-bg .login-block .login-block-3, .login-bg .login-block .login-block-4, .login-bg .login-block .login-block-5 {
      position: relative; }
      .login-bg .login-block .login-block-1 p, .login-bg .login-block .login-block-2 p, .login-bg .login-block .login-block-3 p, .login-bg .login-block .login-block-4 p, .login-bg .login-block .login-block-5 p {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 115px;
        top: 50px; }
      .login-bg .login-block .login-block-1 img, .login-bg .login-block .login-block-2 img, .login-bg .login-block .login-block-3 img, .login-bg .login-block .login-block-4 img, .login-bg .login-block .login-block-5 img {
        position: absolute;
        width: 35px;
        top: 5px;
        left: 50px; }
      .login-bg .login-block .login-block-1 #uname, .login-bg .login-block .login-block-1 #upwd, .login-bg .login-block .login-block-1 #cpwd, .login-bg .login-block .login-block-1 #phone, .login-bg .login-block .login-block-1 #email, .login-bg .login-block .login-block-2 #uname, .login-bg .login-block .login-block-2 #upwd, .login-bg .login-block .login-block-2 #cpwd, .login-bg .login-block .login-block-2 #phone, .login-bg .login-block .login-block-2 #email, .login-bg .login-block .login-block-3 #uname, .login-bg .login-block .login-block-3 #upwd, .login-bg .login-block .login-block-3 #cpwd, .login-bg .login-block .login-block-3 #phone, .login-bg .login-block .login-block-3 #email, .login-bg .login-block .login-block-4 #uname, .login-bg .login-block .login-block-4 #upwd, .login-bg .login-block .login-block-4 #cpwd, .login-bg .login-block .login-block-4 #phone, .login-bg .login-block .login-block-4 #email, .login-bg .login-block .login-block-5 #uname, .login-bg .login-block .login-block-5 #upwd, .login-bg .login-block .login-block-5 #cpwd, .login-bg .login-block .login-block-5 #phone, .login-bg .login-block .login-block-5 #email {
        margin-left: 30px;
        width: 320px;
        height: 40px;
        font-size: 20px;
        padding-left: 80px;
        background: white; }
    .login-bg .login-block .login-block-1 {
      margin-top: 20px; }
    .login-bg .login-block .login-block-2 {
      margin-top: 40px; }
    .login-bg .login-block .login-block-3 {
      margin-top: 40px; }
    .login-bg .login-block .login-block-4 {
      margin-top: 40px; }
    .login-bg .login-block .login-block-5 {
      margin-top: 40px; }
    .login-bg .login-block .login-button {
      text-align: center; }
      .login-bg .login-block .login-button button {
        width: 300px;
        height: 50px;
        margin-top: 35px;
        margin-left: -20px;
        background: #348BCC;
        color: white;
        font-size: 20px;
        border: 0; }

canvas {
  position: fixed;
  top: 0;
  left: 0; }
